<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @demograffic.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @demograffic.age %>
</p>

<%= link_to 'Edit', edit_demograffic_path(@demograffic) %> |
<%= link_to 'Back', demograffics_path %>
